<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
<h1>Calculate/Multiply your numbers:</h1>

<div>
    <form method="post">
        Number1: <input type="number" name="var1" required>
        Number2: <input type="number" name="var2" required>
        A for Calculate, B for Multiplication: <input type="text" name="var3" required>
        <button type="submit">CALC IT</button>
    </form>
</div>
<div>
    <h2>Solution = {{solution}}</h2>
</div>

</body>
</html>