<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Startseite Michaels Webpage for some Homework</title>
</head>
<body>
<h1>Homeworks:</h1>
<button> <a href="/fakebook">Fakebook - Exercise 14.1</a></button>
<button> <a href="/time">Current Time - Homework 15.1</a></button>
<button> <a href="/lottery">Create 8 Lotto Numbers - Homework 15.3</a></button>
<button> <a href="/calc">Calculator - Homework 16.1</a></button>
<button> <a href="/unit">Unit Converter - Homework 16.3</a></button>
<button> <a href="/guess">Guess the Number - Homework 16.2 - NOT WORKING</a></button>



</body>
</html>