<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <h2>Please fill out and submit this form to post to /</h2>


    <form method="post" action="/">
        <input name="some_text">
        <button type="submit">Publish</button>
    </form>

    <form method="post" action="/">
        <input name="some_number">
        <button type="submit">Publish</button>
    </form>


    {% if old_inputs %}
    <h2> Your input was </h2>
    <ul>
    {% for item in old_inputs %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    {% endif -%}


    {% if numbers_list %}
    <h2> Your input was </h2>
    <ul>
    {% for item in numbers_list %}
        <li>{{ item }}</li>
    {% endfor %}
    </ul>
    {% endif -%}




</body>
</html>