<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SmartNinja basic Jinja template</title>

    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
    <h1>Hello, SmartNinja!</h1>
    <h2>Please fill out and submit this form to post to /</h2>

    <form method="post" action="/">
        <input name="some_text">
        <button type="submit">Publish</button>
    </form>

    {% if user_input %} <!-- Jinja Code. wie pythons If -->
    <h2> Your input was </h2>
    {{ user_input }}
    {% endif -%}
    <br>

    <form method="post" action="/">
        <input name="some_text2">
        <button type="submit">Publish</button>
    </form>

    {% if user_input > 50 %}
    <h2>Your input was greater than 50</h2>
    {{ user_input2}}
    {% elif user_input < 50 $}
    <h2>Your input was smaller than 50</h2>
    {{ user_input2}}
    {% else %}
    <h2>This was not a number</h2>
    {% endif -%}


</body>
</html>